{% extends "base.html" %}
{% block content %}
<table class="fixed_headers">
  <thead>
    <tr>
      <th>name</th>
      <th>user</th>
      <th>file</th>
    </tr>
  </thead>
  <tbody>
  {% for a in audios %}
      <tr>
          <td>{{a.name}}</td>
          <td>{{a.user}}</td>
          <td><audio controls style="padding-top: 2%;">
                    <source src="/media/{{a.file}}" type="audio/mp4">
                </audio>
          </td>
          <td>
              <a download href="/media/{{a.file}}" style="padding-left: 1%;"><button class="btn btn-outline-danger">Download Song</button></a>
          </td>
      </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}